<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	
	<resultMap id="UserResultMap" type="com.xxl.glue.admin.core.model.User" >
		<result column="id" property="id" />
	    <result column="username" property="userName" />
	    <result column="password" property="password" />
	    <result column="role" property="role" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.username,
		t.password,
		t.role
	</sql>
	
	<insert id="save" parameterType="com.xxl.glue.admin.core.model.User" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_glue_user (
			username,
			password,
			role
		) VALUES (
			#{userName},
			#{password},
			#{role}
		);
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		</selectKey> 
	</insert>

	<update id="update" parameterType="com.xxl.glue.admin.core.model.User">
		update xxl_glue_user
		set password = #{password}
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer" >
		DELETE FROM xxl_glue_user
		where id = #{id}
	</delete>
	
	<select id="loadAll" resultMap="UserResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM xxl_glue_user AS t
		order by t.id desc
	</select>

	<select id="findByUserName" parameterType="java.lang.String" resultMap="UserResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM xxl_glue_user AS t
		where t.username = #{userName}
	</select>

</mapper>