<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- ********************** 配置01：GLUE工厂，负责GLUE实例化和运行【必须】 ********************** -->

	<!-- glueFactory -->
	<bean id="glueFactory" class="com.xxl.glue.core.GlueFactory">
		<!-- GLUE示例缓存失效时间，单位毫秒 -->
		<property name="cacheTimeout" value="300000" />
		<property name="appName" value="xxl-glue-core-exapmle" />
		<property name="glueLoader" ref="glueLoader" />
	</bean>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="utf-8" />
		<property name="locations">
			<list>
				<value>classpath*:xxl-glue.properties</value>
			</list>
		</property>
	</bean>


	<!-- ********************** 配置02：GLUE广播监听器，负责监听GLUE变动并异步更新GLUE示例。当不设置时，只能通过GlueFatory的缓存失效机制更新GLUE示例。【非必须】 ********************** -->

	<!-- xxl-glue broadcast -->
	<bean id="xxlGlueBroadcaster" class="com.xxl.glue.core.broadcast.XxlGlueBroadcaster" init-method="getClient" destroy-method="close" >
		<constructor-arg index="0" value="${xxl.glue.zkserver}" />
	</bean>

	<!-- ********************** 配置03：GLUE源码加载器，负责加载源码。系统提供两种方式FileGlueLoader和DBGlueLoader，可选择其中一个。推荐将其封装成RPC服务，可移除下方jdbc依赖。【必须，或者替换】 ********************** -->

	<!-- glueLoader -->
	<bean id="glueLoader" class="com.xxl.glue.example.glueloader.DBGlueLoader" />

	<!-- DataSource  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  destroy-method="close">
		<property name="driverClass" value="${xxl.glue.db.driverClass}" />
		<property name="jdbcUrl" value="${xxl.glue.db.url}" />
		<property name="user" value="${xxl.glue.db.user}" />
		<property name="password" value="${xxl.glue.db.password}" />
		<property name="initialPoolSize" value="3" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="10" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="acquireRetryAttempts" value="10" />
		<property name="preferredTestQuery" value="SELECT 1" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mybatis-mapper/*.xml"/>
	</bean>

	<!-- SqlSessionTemplate -->
	<bean id="sqlSessionTemplate"  class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

</beans>